body{
    background-color: #d5fd98;
}

.titulo{
    color:#796464;
    font-size: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.texto{
    color: #1a5394dc;
    font-family: verdana;
}

.image{
    width: 300px;
    height: 300px;
    display:block;
    margin: auto;
}

.image1{
    width: 150px;
    height: 100px;
    display:block;
    margin: auto;
}